venv/

API_for_library/.env
*.ini
*.log


certification/
app/certifications/jwt-private.key
app/certifications/jwt-public.key

.vscode/
.idea/

.venv/

API_for_library/app/certification
API_for_library/app/certification/jwt-private.key
API_for_library/app/certification/jwt-public.key

